<section class="bg-black landing-page-color w-screen h-screen relative overflow-hidden mt-[0.5px]" data-header-color="black">
    <div class="flex flex-col w-full h-full absolute text-center z-10 pt-24">
        <h1 class="text-4xl font-medium">Model 3</h1>
        <p class="text-sm font-light pt-3 underline">Lease from $399/mo</p>
        <div class="m-auto mb-36 bottom-0">
            <a href="#" class="py-[0.65rem] px-20 bg-gray-800 text-white text-sm border-2 w-60 m-auto 
            rounded border-gray-800 font-medium mr-2">Order Now</a>
            <a href="#" class="py-[0.65rem] px-20 bg-white text-sm border-2 w-60 m-auto 
            rounded border-white font-medium text-gray-600 ml-2">Demo Drive</a>
        </div>
    </div>
        
    <div class="absolute top-0 bottom-0">
        <img class="h-full w-screen object-cover" src="../public/model3.avif" alt="">
    </div>

</section>